<configuration>

	<conversionRule conversionWord="ex" converterClass="com.github.stickerifier.stickerify.logger.StacktraceConverter"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%highlight([%d{dd/MM/YYYY HH:mm:ss.SSS}] %-5level) %boldCyan(%-10logger{0}) %boldYellow(-) %msg%n%red(%ex{3})</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
