<configuration>
	<conversionRule conversionWord="msg" converterClass="com.github.stickerifier.stickerify.logger.MessageHighlighter"/>
	<conversionRule conversionWord="ex" converterClass="com.github.stickerifier.stickerify.logger.ExceptionHighlighter"/>
	<conversionRule conversionWord="threadId" converterClass="com.github.stickerifier.stickerify.logger.ThreadIdConverter"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%highlight([%d{"dd/MM/YYYY HH:mm:ss.SSS' CET'", CET}] %-5level) %boldCyan([%threadId] %-11logger{0}) %boldYellow(-) %msg%n%red(%ex)</pattern>
		</encoder>
	</appender>

	<root level="${LOG_LEVEL:-info}">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="org.apache.tika" level="info" />
	<logger name="ws.schild.jave" level="info" />
</configuration>
