name: Docker Image CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code changes
        uses: actions/checkout@v3

      - name: Prepare Docker
        uses: docker/setup-buildx-action@v2

      - name: Access Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Upload Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: rob93c/stickerify:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
