name: Docker Image CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code changes
        uses: actions/checkout@v3

      - name: Prepare Docker
        uses: docker/setup-buildx-action@v2

      - name: Access Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata
        id: metadata
        uses: docker/metadata-action@v4
        with:
          images: |
            rob93c/stickerify
          tags: |
            type=ref,event=branch
            type=ref,event=pr
          flavor: |
            latest=auto

      - name: Upload Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
