name: Qodana CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code changes
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Setup Java 20
        uses: actions/setup-java@v3
        with:
          java-version: 20
          distribution: temurin

      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2023.2
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          args: -v,${{ env.JAVA_HOME }}:/root/.jdks/jdk
          use-caches: false
          post-pr-comment: false
          pr-mode: false
          upload-result: true
