name: Unit tests CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  gradle:
    name: Execute unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    steps:
      - name: Checkout code changes
        uses: actions/checkout@v4

      - name: Setup Java 20
        uses: actions/setup-java@v3
        with:
          java-version: 20
          distribution: temurin

      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v2
        id: setup-ffmpeg

      - name: Setup project and upload dependency graph
        uses: gradle/gradle-build-action@v2
        with:
          dependency-graph: generate-and-submit

      - name: Execute tests
        run: ./gradlew test --scan
