name: Unit tests CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions: read-all

jobs:
  tests:
    name: Execute unit tests
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - name: Checkout code changes
        uses: actions/checkout@v6

      - name: Setup FFmpeg and FFprobe
        uses: ./.github/actions/setup-ffmpeg
        with:
          # bump: ffmpeg-ci /ffmpeg-version: ([\d.]+)/ docker:mwader/static-ffmpeg|/\d+\./|*
          ffmpeg-version: 8.0.1

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Setup project and upload dependency graph
        uses: gradle/actions/setup-gradle@v4
        with:
          dependency-graph: generate-and-submit
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/help/legal-terms-of-use'
          build-scan-terms-of-use-agree: 'yes'

      - name: Execute tests
        shell: bash
        run: ./gradlew test

  qodana:
    name: Perform Qodana analysis
    needs: tests
    runs-on: ubuntu-latest
    permissions:
      checks: write
      security-events: write
    steps:
      - name: Checkout code changes
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 0

      - name: Execute analysis
        uses: JetBrains/qodana-action@v2025.3
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          use-caches: false
          post-pr-comment: false
          pr-mode: false

      - name: Upload results to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
